// Colors
$veryDarkBlue: #292870;
$white: #ffffff;
$black: #000000;
$lightWhite: #f4f4f4;
$placeHolder: #cac4d6;
$error: #dc3545;

// Font Weights
$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;
$fontWeight700: 700;
