// Colors
$veryDarkBlue: #292870;
$white: #ffffff;
$black: #000000;
$lightWhite: #f4f4f4;
$placeHolder: #cac4d6;
$error: #dc3545;
$tableBorder: #cccccc;
$tableStriped: #f2f2f2;
$boxShadow: 0 1px 20px 0 rgba(69,90,100,.08);

// Font Weights
$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;
$fontWeight700: 700;
