.table {
  &__wrapper {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    
    th,
    td {
      padding: 8px;
      font-size: 12px;
      border: 1px solid $tableBorder;
    }
  }

  &__head {
    th {
      font-weight: $fontWeight700;
    }
  }

  &__body {

    tr {
      &:nth-child(odd) {
        background-color: $tableStriped;
      }
    }
  }
}